$feed-pad: 8px 18px;
.home{

}
.user-image{
  border-radius: 50%;
  border: 0.7px solid #ccc;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
}
img{
  object-fit: cover;
}


.feed-article,
.home-header,
.article-header,
.right-side,
.left-side,
.article-actions,
.left-actions,
.right-actions,
.center-side{
  display: flex;

}


.article-feed{
  flex :1;
  flex-direction: column;
}

.feed{
  flex:1;

}
.home-header-container{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 5px 9px;
  border-bottom: 1px solid #f1f1f1;
}

.home-header{

  .left-side,.right-side{
    flex: 2;
    align-self: center;

   }
   .center-side{
     flex:5;
     justify-content: center;
   }
   .right-side{
     justify-content: flex-end;
   }

}

/* for article header flex hierachy*/
.article-header{
  padding: $feed-pad;
  .right-side{
     flex: 2;
     align-self: center;
     justify-content: flex-end;

  }
    .left-side{
      flex: 9;
      justify-content: flex-start;


    }


}



.story-line{
  display: none;

}
.feed-body{
  img{
    background-color: #ccc;
    width: 100%;
    object-fit: contain;
  }
}
.feed-footer{
  padding: $feed-pad;

}
.article-actions{

  .left-actions{
    flex:4;
    justify-content: flex-start;

    div{
      margin-right: 8px;
    }
  }

  .right-actions{
    flex:1;
    justify-content: flex-end;
  }
}

.feed-likes{
  margin-top: 5px;
  margin-bottom: 8px;
}

.feed-likes, .caption{
  font-size: 16px;
}

@media (min-width:568px) and (max-width:667px) {
  .home-header-container{
    display: none;
  }
  .feed-article{
    flex:1;

  }
  .feed{
    margin-bottom: 30px;
    border: 1px solid #ccc;
  }

}

@media (min-width:668px){
 .story-header{
   margin-bottom: 20px;

 }
.home-header-container{
  display: none;
}

.article-feed{
  flex:6;
}

.feed{
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.story-line{
  display: initial;
  flex:2.5;
  margin-left: 30px;

  .story-container{
    position: sticky;
    top: 90px;

  }
  .story-body{
    border: 1px solid #ccc;
    height: 270px;
    overflow-y: auto;
  }

  .footer{
    color:grey;
    font-size: 18px;
  }


}

}
