.nav-container{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.5px solid $coblank;
  z-index: 1;
  background-color: #fff;

  .main-nav{
   display: grid;
   grid-template-columns: repeat(5,1fr);
      div{
        padding: $d-pad;
        text-align: center;

      }
      a{
       color: #000;
      }

  }
}
