.feed{
  margin-top:$d-pad;
  margin-bottom:$d-pad;

  a{
    font-weight:$bold;
  }
}
.feed-option{

}
.feed-option span:first-child{
  width: 25px;
  height: 25px;
  background-color: $coblank;
  border-radius: $circle;
  display: inline-block;
}
.feed-action, .feed-option{
  padding: 4px 5px 5px 5px;

  a{
    margin: 7px;
  }
}

#post-owner a{
  margin-left: 4px;
  vertical-align: super;
 }

.feed a:last-child::after{
  clear:both;
  display: table;
}
.feed-image{
  width: 100%;
  background-color: $coblank;
  box-sizing: border-box;
  overflow: hidden;

}
.comments{
  padding: 2px $d-pad;
}
.likes{
  font-weight: $bold;
  padding: 2px $d-pad;
}
