.feed{
  margin-top:$padding;
  margin-bottom:$padding;

  a{
    font-weight:$bold;
  }
}
.feed-option{

}
.feed-option span:first-child{
  width: 25px;
  height: 25px;
  background-color: $coblank;
  border-radius: $circle;
  display: inline-block;
}
.feed-action, .feed-option{
  padding: 4px 5px 5px 5px;

  a{
    margin: 7px;
  }
}

#post-owner a{
  margin-left: 4px;
  vertical-align: super;
 }

.feed a:last-child::after{
  clear:both;
  display: table;
}
.feed-image{
  position: relative;
  background-color: $coblank;
  box-sizing: border-box;

}
.feed-image::before{
  content: '';
  padding-top: 100%;
  display: block;
}
.square{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
}
.comments{
  padding: 2px $padding;
}
.likes{
  font-weight: $bold;
  padding: 2px $padding;
}
