
.top-bar{
  border-bottom: 0.5px solid $coblank;
  box-sizing: border-box;
  padding:12px 8px 10px;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #fff;
  z-index:1;

  h2{
    display: inline;
    font-family: 'Grand Hotel', cursive;
    padding: 0;
    margin-bottom: 0;
    line-height: 0;
    font-weight: lighter;
  }

  a{
   margin: 1px 3px 1px 3px;
   float: right;
  }

  a:first-child{
     float: left;

  }

  a::after{
    clear: both;
    display: table;
  }


}
