.activity{

}
.activity-nav{
  border-bottom: 0.5px solid #ccc;
}
.activity-nav ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: auto;

}
.activity-nav li{
  float: left;
  width: 50%;

}
.activity-nav a{
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 8px 15px;
  line-height: 2;
  color:black;
  outline: none;
}
.activity-nav a:hover{
  border-bottom: 2px solid black;
}
.activity-nav::after{
  clear: both;
  display: table;
}
