@import url('https://fonts.googleapis.com/css?family=Pacifico');

.toolbar h4{
  display: inline;
  font-family: 'Pacifico', cursive;
  margin:0;
  padding: 0;
}
.toolbar a:first-child{
   float: left;
}
.toolbar{
  padding: 7px;
}
