body{
  margin: 0;
  font-size: 0.94rem;
  font-family: sans-serif,arial;
}
body a{
  text-decoration: none;
  outline: none;
  color: black;
}

.top{
  border-bottom: 0.5px solid #ccc;
  box-sizing: border-box;
  padding:12px 8px 10px;
}

.top a{
   float: right;
   margin: 1px 5px;

}
.top a::after{
  content: "";
  clear: both;
  display: table;
}
