.right{
  float: right;
}
.right::after{
  clear: both;
  display: table;
}
.top{
  border-bottom: 0.5px solid #ccc;
  box-sizing: border-box;
  padding:12px 8px 10px;
}

.top a{
   float: right;
   margin: 1px 5px;
   outline: none;
   color: black;
}
