.select-user, .select-user div,h3{
  display: inline;
}
.user h3{
  position: relative;
  box-sizing: border-box;
  line-height: 0;
}

.user-details{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding: 15px 16px;


}
.user-details h2{
  margin-bottom: 0;
}
.user-pic{
  grid-row: 1/3;


}
.user-pic img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid black;

}

.user-profile{
  margin-bottom: 7px;

}
.user-profile span{
  font-size: 13px;
}
.user-profile, .edit{
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

}
.edit{

}
.edit button{
  grid-column: 1/4;
  font-weight: bold;
  padding: 6px 10px;
  text-align: center;
  background-color: #fff;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.name-details p:first-child{
   font-weight: bold;

}
.name-details{
   padding: 10px;


}
.name-details p{
  margin: 2px;
}
.name-details p:nth-last-child(1){
  margin-bottom: 5px;
}

.photo-line{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.bborder{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.gallery{
  display: flex;
  flex-flow: row wrap;
  margin: -0.5px;
}

.photo-frame{
  position: relative;
  flex-basis: calc(33.333% - 1px);
  box-sizing: border-box;
  margin: 0.5px;
  background-color: grey;

}

.photo-frame::before{
  content: '';
  padding-top: 100%;
  display: block;
}
.gallery-photo{
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
