.user a{
  float: right;
}
.user::after{
  clear: both;
  display: table;
  content: "";
}
.user h3{
  display: inline;
  position: relative;
}
.user h3::after{
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 4px;
  left: 107%;
  bottom: 30%;
  border-color: black transparent transparent;
}
