body{
  margin: 0;
  font-size: 1.15em;
  font-family: arial, sans-serif, monospace;
  background-color: #fafafa;
}
.center{
  margin: auto;
}
.absolute{
  position: absolute;
}
.white-theme{
  background-color: #fff;
}
.container{

}
.app-body{
  padding-top: 47px;
  padding-bottom: 42px;
}
.content{

  display: flex;
}

a{
  color:#000;
  text-decoration: none;
  font-family: arial;
}

a:hover, a:active{

}
.truncate-text{
  display: inline-block;
  width: 160px;
  overflow: hidden;;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (min-width:568px) and (max-width:667px) {
  .container{
    margin: 0 30px 0;

  }
  .app-body{
    padding-top: 68px;
    padding-bottom: 5px;
    background-color: #fafafa;


  }

}

@media (min-width:668px){
  .container{
   margin: 0 60px 0;
  }

  .app-body{
    padding-top: 104px;
    padding-bottom: 5px;
    background-color: #fafafa;

  }
}

@media (min-width:1028px){
  .container{
    margin: auto;
    max-width: 992px;
  }

}




@import "./components/_sprite-icons.scss";
@import "./components/_app.scss";
@import "./components/_landing.scss";
@import "./components/_explore.scss";
