$coblank: #ccc;
$d-pad:10px;

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import "components/_topbar.scss";
@import "components/_navbar.scss";
@import "components/_mystory.scss";
@import "components/_activity.scss";
@import "components/_search.scss";
@import "components/_user.scss";
@import "components/_picfeed.scss";



body{
  margin: 0;
  font-size: 1.05rem;
  font-family: sans-serif,arial;

  a{
    text-decoration: none;
    color: #000;
  }
}


.app{
  position: absolute;
  width: 100%;
  height: calc(100% - 42.4px);
  overflow-x: hidden;
}
