$white:#fff;
$black:#000;
$fog:#2c2c2c;
$padding:10px;
$blank:#ccc;

$coblank: #ccc;
$d-pad:10px;
$bold: bold;
$circle:50%;

@mixin theme($bg, $color){
 //parent
  %background{
    background-color: $bg;
  }
  %color{
    color: $color;
  }
  %padding{
    padding: $padding
  }

  //children
  a{
    @extend %color;
    text-decoration: none;}

  .nav-container{
    @extend %background;
    //@extend %padding;

  }

  .top-bar{
    @extend %background;
    @extend %color;
    @extend %padding;
  }
  svg{
    @extend %color;
  }

}



.light{
  @include theme($white, $black);
}
.dark{
  @include theme($fog, $white);
}

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import "components/_topbar.scss";
@import "components/_navbar.scss";
@import "components/_mystory.scss";
@import "components/_activity.scss";
@import "components/_search.scss";
@import "components/_user.scss";
@import "components/_picfeed.scss";



body{
  margin: 0;
  font-size: 1.05rem;
  font-family: sans-serif,arial;

  *{
    box-sizing: border-box;
  }




}
.app{
  position: absolute;
  width: 100%;
  height: calc(100% - 42.4px - 47.4px);
  overflow-x: hidden;
  margin-top: 47.4px;
}
